
<% extend('base') %>
    <form action="/chat" method="post">
        <input type="text" name="username">
        <input type="text" name="password">
        <input type="submit" value="send">
    </form>