<% extend('../base') %>
<div class="container">
    <h1 class="text-center text-light mt-2">Home page</h1>
    <div class="jumbotron m-4">
       <h2>Bienvenu sur votre novelle espace d'intéraction social n'hésiter 
           pas et commencer dès maintenant à converser dans notre espace de Tchat
       </h2>
       <div class="text-center pt-4">

           <button class="btn btn-success"><a href="/chat" class="text-light"> REJOINDRE LE TCHAT</a></button>
       </div>
    </div>
</div>